@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

a:hover {
    color: rgb(87, 124, 53);
    cursor: pointer;
    text-decoration: underline dashed orange;
}

.container_header,
.container_ingridients {
    padding-bottom: 5%;
}


li {
    list-style: none;
}